[Desktop Entry]
Type=Application
Name=Solidon3D
Comment=3D-Modelle konstruieren, erzeugen und druckfertig machen
Exec=Solidon3D %f
Icon=de.rsdigital.solidon3d
StartupWMClass=Solidon3D
Categories=Graphics;3DGraphics;Engineering;
Terminal=false
MimeType=application/x-solidon3d-project;application/vnd.solidon.part+json;
